<section>
    <h2>All Posts</h2>
    <ul>
        <% posts.forEach(post => { %>
            <li>
                <a href="/post/<%= post.id %>"><%= post.title %></a>
            </li>
        <% }) %>
    </ul>
</section>